<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> OPERATIONS {{obj}}</h1>
<form action="add/" method="get">
    <input type="text" name="num1" placeholder="first number">
    <input type="text" name="num2" placeholder="second number">
    <button type="submit" name="add"> ADD</button>
</form>
<form action="sub/" method="get">
    <input type="text" name="num1" placeholder="first number">
    <input type="text" name="num2" placeholder="second number">
    <button type="submit" name="sub"> SUBTRACT</button>
</form>
<form action="mult/" method="get">
   <input type="text" name="num1" placeholder="first number">
    <input type="text" name="num2" placeholder="second number">
    <button type="submit" name="mult"> MULTIPLY</button>
</form>
<form action="div/" method="get">
    <input type="text" name="num1" placeholder="first number">
    <input type="text" name="num2" placeholder="second number">
    <button type="submit" name="div"> DIVIDE</button>
</form>
</body>
</html>